body {
  background: #eeeeee;
  margin: 0%;
}

main {
  width: 100%;
  padding-left: 15%;
  display: table;
  margin: 20px auto 0px auto;
  box-sizing: border-box;
}

.box-container {
  width: 270px;
  display: table;
  float: left;
  margin: 60px 60px 0 0;
}

.card {
  width: 100%;
  display: table;
  padding: 15px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.212);
  box-sizing: border-box;
}

/*-------- CARD IMAGE -------*/

.card .card-image-top {
  margin-top: -55px;
}

/*.card .card-image-top{
  position: relative;
  top: -55px;
  margin-bottom: -55px;
}*/

.card .card-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
}

/*-------- CARD BODY -------*/

.card .card-body {
  width: 100%;
  margin-top: 12px;
  display: table;
}
.card .card-body h1 {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  line-height: 24px;
  margin: 0%;
  color: #a80e0e;
}

.card .card-body p {
  display: block;
  margin: 15px 0 12px 0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: #5a5858;
}

/*-------- CARD FOOTER -------*/

.card .card-footer {
  width: 100%;
  display: table;
}

.card .card-footer .btn {
  width: 100%;
}

.btn {
  width: auto;
  height: 40px;
  padding: 0 30px;
  margin-top: 12px;
  display: inline-block;
  background: #bd1515;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  box-sizing: border-box;
}
